#app {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    text-align: center;
}

#gameBoard {
    border: solid 2px black;
}

#scoreBoard {
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

#play {
    width: 80px;
    height: 32px;
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    border: 1px solid rgba(0,0,0,.27);
    background-color: white;
    border-radius: 4px;
    margin: 15px auto;

}

.state {
    margin: 10px 90px;
    display: inline-block;
}
