#app {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    text-align: center;
}

#gameBoard {
    border: solid 2px black;
}

#scoreBoard {
    margin: 0 auto;
    text-align: center;
}

#play {
    width: 150px;
    height: 30px;
    margin: 15px auto;
}

.state {
    margin: 10px 90px;
    display: inline-block;
}
